#main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#nav-buttons {
  margin: 20px;
}

#back-button {
  margin-right: 20px;
}

#copy-button {
  padding: 8px;
  border: 1px solid white;
  background-color: rgb(18, 68, 118);
  color: white;
  border-radius: 5px;
  box-shadow: -1px 1px 0px 2px rgba(195, 195, 195, 0.2);
}

#request-bin {
  width: 40%;
}

#single-request {
  margin-left: 20px;
  min-width: 400px;
}

#request-table-head {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(18, 68, 118);
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid rgb(24, 97, 170);
}

#request-list-header {
  padding: 10px;
  background-color: rgb(18, 68, 118);
  color: white;
  display: flex;
  justify-content: space-evenly;
}

#request-list {
  padding: 10px;
  background-color: rgb(15, 41, 67);
  color: white;
}

.request-details {
  display: flex;
}

.request {
  padding: 5px;
  border-bottom: 1px solid rgb(18, 68, 118);
  
}

.request:hover {
  cursor: pointer;
  background-color: rgb(32, 61, 70);
}

.request-details {
  justify-content: space-between;
}

.request-data {
  flex-shrink: 3;
  height: 40px;
  padding: 10px;
}