@import url("reset.css");

#site-container {
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%;
  grid-template-areas: 
    "sidebar main"
    "sidebar main"
    "sidebar main";
}


body, html {
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

main {
  border: 1px solid black;
  padding: 40px;
  grid-area: main;
  background-color: rgb(65, 2, 94);
  color: white;
}

.button-container {
  display: flex;
  justify-content: right;
  padding: 20px;
}

#bin-list {
  border: 1px solid black;
  background-color: rgb(95, 5, 137);
  color: white;
}

.catcher {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  
}

.catcher:hover {
  cursor: pointer;
  background-color: #b576da;
}

.catcher-details {
  justify-content: space-between;
}

.catcher-data {
  width: 20%;
  height: 40px;
  padding: 10px;
}
