#request-bin {
  width: 50%;
}

#request-table-head {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(18, 68, 118);
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid rgb(24, 97, 170);
}

#request-list-header {
  padding: 10px;
  background-color: rgb(18, 68, 118);
  color: white;
  display: flex;
  justify-content: space-evenly;
}

#request-list {
  padding: 10px;
  background-color: rgb(15, 41, 67);
  color: white;
}

.request-details {
  display: flex;
}

.request {
  padding: 5px;
  border-bottom: 1px solid rgb(18, 68, 118);
  
}

.request:hover {
  cursor: pointer;
  background-color: rgb(32, 61, 70);
}

.request-details {
  justify-content: space-between;
}

.request-data {
  flex-shrink: 3;
  height: 40px;
  padding: 10px;
}